@use "../../../scss/vars.scss" as *;
@use "../../../scss/_mixins.scss" as *;

.ContactFormRefonte {
  background-color: $neutral-900;
  background-image: url("#{$base-path}/images/Background_Dark.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: $radius-l;
  padding: $spacing-xl;
  color: #fff;
  overflow: hidden;
  min-height: 35rem;

  @include breakpoint(mobile) {
    padding: $spacing-m;
    border-radius: $radius-m;
  }

  img {
    position: absolute;
    width: 340px;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;

    @include breakpoint(mobile) {
      position: relative;
      display: block;
      width: 50%;
      top: inherit;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  a:hover {
    color: #fff;
  }
}
