@use "../../../../scss/vars" as *;
@use "../../../../scss/mixins" as *;
.NumbersSection {
  text-align: center;
  margin-bottom: $spacing-xl;
  &__content {
    margin: 0 auto;
  }

  &__numbers {
    margin: 0 auto;
    display: grid;
    max-width: 64rem;
    row-gap: 1rem;
    column-gap: 16px;
    flex-shrink: 0;
    grid-auto-rows: auto;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    background: rgba(198, 189, 226, 0.1);
    backdrop-filter: blur(5px);
    padding: 1.5rem;
    box-shadow: inset -1px -1px rgba(169, 159, 209, 0),
      inset 1px 1px rgba(86, 68, 156, 1);
    border-radius: 60px;
    @include breakpoint(mobile) {
      display: block;
      padding: 1rem;
    }
  }
  &__number {
    text-align: left;
    padding: 1.5rem;
    background: rgba(237, 234, 246, 0.05);

    box-shadow: inset -1px -1px rgba(169, 159, 209, 0.1),
      inset 1px 1px rgba(86, 68, 156, 1);
    @include breakpoint(mobile) {
      border-radius: $radius-m !important;
      margin-bottom: 1rem;
      &:first-child {
        border-radius: 3.75em 3.75em $radius-m $radius-m !important;
      }
      &:last-child {
        border-radius: $radius-m $radius-m 3.75em 3.75em !important;
        margin-bottom: 0;
      }
    }
    &__title {
      font-size: $font-size-xxl;
    }

    @include breakpoint(phablet) {
      &:nth-child(1) {
        border-radius: 3.75em $radius-m $radius-m $radius-m !important;
        grid-row: 1;
        grid-column: 1 / span 3;
      }
      &:nth-child(2) {
        border-radius: $radius-m 3.75em $radius-m $radius-m !important;
        grid-row: 1;
        grid-column: 4 / span 3;
      }
      &:nth-child(3) {
        border-radius: $radius-m !important;
        grid-row: 2;
        grid-column: 1 / span 6;
      }
      &:nth-child(4) {
        border-radius: $radius-m $radius-m $radius-m 3.75em !important;
        grid-row: 3;
        grid-column: 1 / span 3;
      }
      &:nth-child(5) {
        border-radius: $radius-m $radius-m 3.75em $radius-m !important;
        grid-row: 3;
        grid-column: 4 / span 3;
      }
    }

    @include breakpoint(tablet) {
      &:nth-child(1) {
        border-radius: 3.75rem $radius-m $radius-m !important;
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
      }
      &:nth-child(2) {
        border-radius: $radius-m !important;
        grid-row: 1 / span 1;
        grid-column: 3 / span 2;
      }
      &:nth-child(3) {
        border-radius: $radius-m 3.75rem $radius-m $radius-m !important;
        grid-row: 1 / span 1;
        grid-column: 5 / span 2;
      }
      &:nth-child(4) {
        border-radius: $radius-m $radius-m $radius-m 3.75rem !important;
        grid-row: 2 / span 1;
        grid-column: 1 / span 3;
      }
      &:nth-child(5) {
        border-radius: $radius-m $radius-m 3.75rem $radius-m !important;
        grid-row: 2 / span 1;
        grid-column: 4 / span 3;
      }
    }
  }
}
