@use "../vars" as *;
@use "../mixins" as *;
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "NeueMachina", sans-serif;
  font-weight: 700 !important;
  margin-top: $spacing-m;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.display--1 {
  font-family: "NeueMachina", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  @include breakpoint(tablet) {
    font-size: 4rem;
  }
  @include breakpoint(desktop) {
    font-size: 5rem;
  }
}

.display--2 {
  font-family: "NeueMachina", sans-serif;
  font-size: 5rem;
  font-weight: 700;
}

.display--3 {
  font-family: "NeueMachina", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}
