@use "../vars" as *;
// input,
// textarea {
//   background-color: #de3d65df;
//   border: 3px solid #f2b1c1;
//   color: white;
//   padding: 15px;
//   border-radius: 15px;
//   width: 100%;
//   margin: 0 0 1rem 0 !important;
//   &:focus-visible {
//     outline: 0;
//   }
// }
