@use "../../../../scss/vars" as *;
@use "../../../../scss/mixins" as *;
.ScoreSection {
  display: flex;
  gap: 1.5rem;
  margin: 0 auto $spacing-xl;
  padding: 1.5rem 0 1.5rem 1.5rem;
  overflow: hidden;
  border-radius: 4.6875rem;

  background: rgba(198, 189, 226, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: inset -1px -1px rgba(169, 159, 209, 0.1),
    inset 0 -1px rgba(86, 68, 156, 0.5), inset 1px 1px rgba(255, 136, 207, 0.5);

  @include breakpoint(mobile) {
    display: block;
  }
  @media (max-width: 870px) {
    display: block;

    &__image {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
    
  }
  @media (min-width: 870px) {
    display: flex;
  }
  
}
