@use "../../../../scss/vars" as *;
@use "../../../../scss/mixins" as *;
.LinkSection {
  position: relative;
  height: 800px;

  @include breakpoint(mobile) {
    height: auto;
    display: flex;
    flex-direction: column;
    transform: none;
  }

  &__content {
    position: relative;
    z-index: 2;
    border-radius: 4.6875rem;
    background-image: linear-gradient(
      90deg,
      rgba(198, 189, 226, 0) 0%,
      rgba(198, 189, 226, 0) 50%,
      rgba(198, 189, 226, 0.1) 100%
    );
    backdrop-filter: blur(5px);
    padding: $spacing-xl $spacing-l $spacing-l;
    max-width: 630px;
    margin-left: auto;

    @include breakpoint(mobile) {
      margin: 0 auto;
      background-image: linear-gradient(
        180deg,
        rgba(198, 189, 226, 0) 0%,
        rgba(198, 189, 226, 0.1) 100%
      );
    }

     @media (max-width: 975px) {
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      background-image: linear-gradient(
        180deg,
        rgba(198, 189, 226, 0) 0%,
        rgba(198, 189, 226, 0.1) 100%
      );
     }

  }

   &__image {
    width: 200%;
    max-width: inherit;
    position: absolute;
    top:0;
    left: -70%;
    z-index: 0;

    @include breakpoint(mobile) {
      position: relative;
      width: 250%;
      top: 0;
      left: 0;
      transform: translateX(-230px) translateY(15px);
      z-index: 0;
      margin-bottom: $spacing-l;
      object-fit: cover;
    }

    @media (max-width: 975px) {
      position: relative;
      top: 0;
      left: 60%;
      transform: translateX(-50%) translateY(15px);
      z-index: 0;
      margin-bottom: $spacing-l;
      object-fit: cover;
    }
  }
}
