@use "./vars" as *;

@font-face {
  font-family: "NeueMachina";
  src: url("#{$base-path}/fonts/NeueMachina-Regular.woff") format("woff"),
  url("#{$base-path}/fonts/NeueMachina-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMachina";
  src: url("#{$base-path}/fonts/NeueMachina-Ultrabold.woff") format("woff"),
  url("#{$base-path}/fonts/NeueMachina-Ultrabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMachina";
  src: url("#{$base-path}/fonts/NeueMachina-Light.woff") format("woff"),
  url("#{$base-path}/fonts/NeueMachina-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("#{$base-path}/fonts/SpaceMono-Regular.woff") format("woff"),
  url("#{$base-path}/fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("#{$base-path}/fonts/SpaceMono-Bold.woff") format("woff"),
  url("#{$base-path}/fonts/SpaceMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
